html {
    font-family: 'Cascadia Code', sans-serif;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

button {
    font-family: inherit;
    font-size: 35px;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-top: 10px;
    border-radius: 50px;
    transition: border-radius 1s ease-out, box-shadow 0.45s ease 0.06s;
    cursor: pointer;
    padding: 0;
    box-shadow: inset 0px 0px 0px 0px #0099ff83;
}

button:active {
    border-radius: 15px;
    transition: border-radius 0.05s ease-out, box-shadow 0s ease-out;
    box-shadow: inset 0px 0px 0px 80px #0000;
}

#display, #display2 {
    font-family: inherit;
    width: 348.15px;
    border: none;
    padding: 0;
    color: #e1e1e4;
}

#display {
    height: 100px;
    background-color: #2b343b;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#display:focus, #display2:focus {
    outline: none;
}

#display2 {
    height: 50px;
    background-color: #242a30;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


#backspace, #decimal, #zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    background-color: #1f2529;
    color: #e1e1e4;
}

#power, #percentage, #divide, #multiply, #subtract, #add {
    background-color: #9eacba;
    color: #101d28;
}

#equals {
    background-color: #cce4fb;
    color: #081d2e;
}

#all-clear {
    background-color: #e7dcfb;
    color: #1f133e
}

body {
    margin: 0;
    opacity: 1;
}