html {
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-family: 'Courier Prime', monospace;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

button {
    font-family: inherit;
    font-size: 42px;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 10px;
    border-radius: 50px;
    transition: border-radius 0.5s ease-out;
}

button:active {
    border-radius: 25px;
    transition: border-radius 0.07s ease-out;
}

.display, #display {
    width: 421px;
    height: 100px;
    background-color: #2b343b;
    border: none;
    color: #e1e1e4;
    font-family: inherit;
    font-size: 64px;
}

#backspace, #decimal, #zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    background-color: #1f2529;
    color: #e1e1e4;
}

#parentheses, #percent, #divide, #multiply, #subtract, #add {
    background-color: #9eacba;
    color: #101d28;
}

#equals {
    background-color: #cce4fb;
    color: #081d2e;
}

#all-clear {
    background-color: #e7dcfb;
    color: #1f133e
}

body {
    margin: 0;
    opacity: 1;
}