html {
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-family: 'Courier Prime', monospace;
}
body {
    background-color: #1a1c1e;
    color: #e1e1e4;
    margin: 0;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.calculator {

}

button {
    font-family: inherit;
    font-size: 42px;
    border: none;
    color: #e1e1e4;
    background-color: #1f2529;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 10px;
}

.display, #display {
    width: 421px;
    height: 100px;
    background-color: #2b343b;
    border: none;
    color: #e1e1e4;
    font-family: inherit;
    font-size: 64px;
}

#parentheses, #percent, #divide, #multiply, #subtract, #add {
    background-color: #9eacba;
    color: #101d28;
}

#equals {
    background-color: #cce4fb;
    color: #081d2e;
}
#all-clear {
    background-color: #e7dcfb;
    color: #1f133e
}